/nbproject/
/platforms/
keystore.private
google-services.json
build.json
/node_modules/
/plugins/*
/www/
plugins/fetch.json
plugins/com.jareddickson.cordova.tag-manager/www/TagManager.js
plugins/com.jareddickson.cordova.tag-manager/src/ios/TAGManager.h
plugins/com.jareddickson.cordova.tag-manager/src/ios/TAGLogger.h
plugins/com.jareddickson.cordova.tag-manager/src/ios/TAGDataLayer.h
plugins/com.jareddickson.cordova.tag-manager/src/ios/TAGContainerOpener.h
plugins/com.jareddickson.cordova.tag-manager/src/ios/TAGContainer.h
plugins/com.jareddickson.cordova.tag-manager/src/ios/libGoogleAnalyticsServices.a
plugins/com.jareddickson.cordova.tag-manager/src/ios/CDVTagManager.m
plugins/com.jareddickson.cordova.tag-manager/src/ios/CDVTagManager.h
plugins/com.jareddickson.cordova.tag-manager/src/android/libGoogleAnalyticsServices.jar
plugins/com.jareddickson.cordova.tag-manager/src/android/CDVTagManager.java
plugins/com.jareddickson.cordova.tag-manager/README.md
plugins/com.jareddickson.cordova.tag-manager/plugin.xml
plugins/com.jareddickson.cordova.tag-manager/package.json
plugins/com.jareddickson.cordova.tag-manager/LICENSE
